/* Resets */
* {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-seri

    
}

/* Mobile first */
.wrapper {
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e803f;
  border-radius: 50%;
  margin: 30px;

 
}

.btn {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#btn__element {
  width: 75%;
  padding: 15px 25px;
  background-color: #222;
  border-radius: 50%;
  border: rgb(51, 185, 14);
  color: rgb(194, 12, 12);
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

#btn__element:hover {
  cursor: pointer;
  background-color: rgb(59, 59, 59);
}

#btn__state {
  width: 25%;
  padding: 15px 25px;
  background-color: rgb(25, 8, 156);
  border-radius: 50%;
  border: #222;
  color: rgb(131, 198, 14);
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
