/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

/* Mobile first */
.wrapper {
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  margin-top: 50px;
  color: #333;
}

.generalContainer {
  padding: 15px;
  display: grid;
  grid-template-rows: 1fr 4fr;
  border: solid 30px white;
  background-color: rgb(225, 225, 231);
  font-size: 20px;
 
}

/* mano pridetas stilius */
.brandContainer {
  padding: 10px;
  text-align: center;
  color: rgb(15, 28, 215);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
  
}

.brandContainer:hover {
  background-color: #0099cc;
}


.modelContainer {
 font-style: italic;
 font-variant-numeric:oldstyle-nums;
  padding: 10px;
  display: grid;
  justify-items:center;

}

.modelContainer:hover {
  background-color: rgb(21, 175, 198);
}